
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    margin: 0px;
}

.main-content {
    display: flex;
    background-color: #1F2937;
}

.main-content-right {
    background-color: slategray;
}

.header p {
    color: #F9FAF8;
    font-size: 24px;
    /* padding-left: 16px; everyone will have uniform padding on both sides */
}

.header ul {
    display: flex;
    gap: 8px;
    align-items: center;
    /* padding-right: 16px; */
}
.header li {
    color: #E5E7EB;
    list-style-type: none;
    font-size: 18px;
}

.main-content .title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.main-content .sub-title {
    color: #E5E7EB;
    font-size: 18px;
}

.main-content button {
    background-color: #3882F6;
    color: #E5E7EB; 
}
.main-content-right p {
    color: #E5E7EB;
    font-size: 18px;
}